// Overriding defaults
$primary: #4e66f8;
$danger: #e83e8c;

// Imports
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap';

// Custom variables
$header-height: 74px;
$footer-height: 72px;
$navigation-logo-height: 48px;
$border-color: $gray-300;
$form-control-border: 1px solid #ced4da;

// Revertin bottom margin and pushing navigation 
// dots "inset" style of carousel library.
.slick {
  &-slider {
    margin-bottom: 0 !important;
  }
  &-dots {
    bottom: 0;
    li {
      button {
        &:before {
          color: white !important;
        }
      }
    }
  }
}

// Making carousel hidden by default until carousel library
// is initialized.
[data-slider] {
  display: none;
}

// Reverting gray background color of flatpickr
.form-control {
  &[readonly] {
    background-color: transparent;
  }
}

// Reverting missing border of bootstrap-select
.bootstrap-select.form-control {
  border: $form-control-border;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

// Making bootstrap cards to strech in height.
.card {
  height: 100%;
}

.ec {
  font-family: 'Poppins', sans-serif;
  padding-top: $header-height;

  // Utility: No padding. Usecase: sign in and sign up templates
  &-no-padding {
    padding-top: 0;
  }

  // Utility: Empty
  &-empty {
    svg {
      height: 64px;
      max-width: 64px;
      width: 100%;
    }
  }

  // Utility: Toast message
  &-toast {
    min-width: 256px;
    &-wrapper {
      bottom: 16px;
      left: 16px;
      position: fixed;
      z-index: 2;
    }
  }

  // Template: Sign in
  &-sign-in {
    &-wallpaper {
      background: no-repeat center;
      background-size: cover;
    }
  }

  // Container: Main
  &-main {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }

  // Partial: Header
  &-header {
    &-nav {
      &-logo {
        &-image {
          height: $navigation-logo-height;
          width: auto;
        }
      }
    }
  }

  // Partial: Showcase
  &-showcase {
    background: url('/build/images/showcase.jpg') no-repeat center;
    background-size: cover;
    &-form-group {
      &:not(:last-child) {
        border-right: 1px solid $border-color;
      }
    }
    &-form-control {
      &[readonly] {
        background-color: transparent;
      }
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .ec {
    &-showcase {
      &-form-group {
        &:not(:last-child) {
          border: none;
        }
      }
      &-form-control {
        border-bottom: 1px solid $border-color !important;
      }
    }
  }
}
